%YAML 1.1
---

vars:
  address-groups:
    HOME_NET: "[192.168.240.0/24]"
    EXTERNAL_NET: "any"

  port-groups:
    HTTP_PORTS: "80"
    SHELLCODE_PORTS: "any"
    ORACLE_PORTS: 1521
    SSH_PORTS: 22

outputs:
  - eve-log:
      enabled: yes
      filetype: regular
      filename: eve.json
      types:
        - alert
        - http:
            extended: yes
        - dns:
            query: yes
            answer: yes
        - tls:
            extended: yes
        - files:
            force-magic: yes
        - drop:
            alerts: yes
        - smtp
        - ssh
        - stats:
            totals: yes
            threads: no
            deltas: no

logging:
  default-log-level: notice
  outputs:
    - console:
        enabled: yes
    - file:
        enabled: yes
        filename: suricata.log

af-packet:
  - interface: eth0
    cluster-id: 99
    cluster-type: cluster_flow
    defrag: yes
